:root {
    --flickr-pink: #F72585;
    --byzantine: #B5179E;
    --purple: #7209B7;
    --trypan-blue:#480CA8;
    --persian-blue: #3F37C9;
    --ultramarine-blue: #4361EE;
    --dodger-blue: 4895EF;
    --sky-blue: #4cc9f0;
    --text: #e0eae4;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--flickr-pink);
}

main {
    width: 96%;
    margin: 2rem auto;
}

h1,
h2, 
h3, 
h4, 
h5 {
    margin-bottom: 0.625rem;
    color: var(--sky-blue);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.75rem;
}

h4 {
    font-size: 1.75rem;
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav a {
    color: var(--persian-blue);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.about-me {
display: flex;
align-items: flex-start;
flex-direction: column;
width: 90%;
margin: 1% auto;
}

.about-me img {
    width: 100%;
}

.about-me-description {
    margin-left: 3%;
    margin-right: 3%;
    flex: 0 0 40%;
}

.about-me-list ul {
    list-style: none;
    margin-left: 1em;
    font-size: 85%;
    line-height: 2;
}

.about-me-list ul li::before {
    content: "\2022";
    color: var(--purple);
    font-weight: bold;
    display: inline-block;
    width: 0.5em;
}

#about-me-list-header {
    margin-left: 1em;
    margin-top: 1em;
}

#projects-header {
    width: 96%;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.card {
    position: relative;
}


.card .card-header {
    position: absolute;
    margin: +10rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--persian-blue);
    color: var(--text);
    border: 2px solid var(--sky-blue);
}

.card img {
    width: 100%;
}

.card img:hover {
    transform: scale(1.1);
}

#contact-me-header {
    width: 96%;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: var(--ultramarine-blue);
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 40px;
}


@media screen and (min-width: 768px) {
    .about-me {
        flex-direction: row;
    }
        
    .about-me img {
        flex: 0 0 40%;
    }

    .about-me-description {
        flex: 0 0 40%;
    }

    .about-me-list {
        flex: 0 0 20%;
        margin-left: 1em;
    }

    #about-me-list-header {
        margin-left: -1em;
        margin-top: -1em;
    }
    .about-me-list ul li::before {
        margin-left: -2em;
    }

    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card-column: last-child {
        flex-grow: 1;
    }

    .projects {
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }

    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}